version: "3.9"

services:
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:80"

  backend:
    build: ./backend
    restart: always
    environment:
      - DB_HOST=db
      - DB_USER=postgres
      - DB_PASSWORD=yourpassword
      - DB_NAME=ecommerce
    ports:
      - "5000:5000"
    depends_on:
      - db
    volumes:
      - uploads_data:/app/uploads   # multer volume

  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_DB: ecommerce
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: yourpassword
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  db_data:
  uploads_data:
