services:
  frontend:
    build: ./frontend
    restart: always
    ports:
      - "3000:3000"

  backend:
    build: ./backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    volumes:
      - uploads_data:/app/uploads

  db:
    image: postgres:16
    restart: always
    env_file:
      - ./backend/.env
    environment:
      # POSTGRES_DB: luminestdb
      # POSTGRES_USER: luminest_boss
      # POSTGRES_PASSWORD: 2/10/00/Naimul
      # perse from env_file
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"

volumes:
  db_data:
  uploads_data: